@charset "utf-8";
/* ***************************************************************************************** */
/* Definition of the css stylingn variables ************************************************ */
/* ***************************************************************************************** */

:root {
  --aqua: aqua;
  --dark: black;
  --light: white; 
  --error: rgb(202, 6, 6);
  --success: rgb(3, 102, 3);
  --gray: rgb(240, 240, 240);
  --gray-dark: rgb(23,23,23);
  --naval-blue: rgba(1,33,55);
  --electron-blue: rgb(8, 115, 187);
  --custom-gray: rgb(175, 191, 207);
  --light-web-blue: rgb(12, 209, 235);
}

body {
  width: 70%;
  margin: 0 auto;
  font-size: 24px;
  background-color: var(--naval-blue);
  font-family: "Roboto", sans-serif;
}

h3 {
  text-align: center;
  color: var(--naval-blue);
}
p#link,
p#error-message,
p#message-unautorised {
  margin: 20px 0 20px 20px;
}

p#error-message {
  color: var(--error);
}

p#message-unautorised {
  color: var(--naval-blue);
}

p#error-message,
p#message-unautorised {
  font-size: x-large;
  font-weight: bold;
}

p#message-unautorised a {
  text-decoration: none;
}

p#message-unautorised a:hover {
  color: var(--electron-blue);
}

p#link a {
  font-weight: bold; 
  font-size: x-large;
  color: var(--aqua);
  padding: 10px 10px;
  border-radius: 10px;
  text-decoration: none;
  border: 2px solid var(--aqua);
  background-color: var(--dark);
}

p#link a:hover {
  border: 2px solid var(--light-web-blue);
}

p#link a:visited {
  color: var(--aqua);
}

span#title-main {
  line-height: 1;
  text-align: right;
  color: var(--aqua);
  font-weight: bold;
  border-radius: 10px;
  padding: 15px 3px 0 20px;
  background-color: var(--dark);
  border: 2px solid var(--aqua);
  font-family: "Segoe UI", sans-serif;
}

span#greeting {
  font-weight: bold;
  font-size: xx-large;
  color: var(--naval-blue);
}

div#format {
  padding: 20px;
  border-radius: 10px;
  width: calc(100% - 50px);
  margin: 40px auto 40px auto;
  background-color: var(--gray);
  border: 3px solid var(--aqua);
}

div#header {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

div#header section#header-main p {
  width: 100%;
  font-size: 50px;
  text-align: left;
  font-weight: bolder;
  letter-spacing: 1px;
  margin: 0 auto 20px auto;
  color: var(--naval-blue);
  border: 0px solid purple;
  font-family: "Roboto", sans-serif;
}

div#header section#header-main {
  background-size: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../src/assets/images/favicon/js-logo.png');
}

div#header section#header-main span {
  color: var(--electron-blue);
}

div#top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: none;
  border: 0px solid green;
}

div#top div#input-login-sec {
  width: 50%;
  height: auto;
  display: flex;
  padding-top: 10px;
  margin: auto auto;
  border-radius: 5px;
  flex-direction: column;
  background-color: white;
  border: 2px solid var(--naval-blue);
}

div#top div#input-login-sec p {
  font-size: x-large;
  padding-left: 20px;
  font-weight: bolder;
  color: var(--success);
}

div#top section.input-login-form {
  width: auto;
  height: auto;
  background-color: none;
}

label {
  font-size: 20px;
  margin: 0 0 0 10%;
  font-weight: bolder;
  color: var(--naval-blue);
  font-family: "Roboto", sans-serif;
}

table#signup-tbl {
  width: 100%;
}

table#signup-tbl tr td {
  width: 50%;
  border: 0px solid var(--electron-blue);
}

label[for=firstName] {
  margin-left: 20%;
}

label[for=lastName] {
  margin-left: 10px;
}

input[type=text][name="firstName"], 
input[type=text][name="lastName"] {
  width: calc(100% - 20% - 21px);
} 

input[type=text][name="firstName"] {
  margin-left: 20%;
} 
input[type=text][name="lastName"] {
  margin-left: 10px;
}

input[type=text], input[type=password] {
  height: 30px;
  font-size: 20px;
  border-radius: 5px;
  width: calc(80% - 12px);
  margin: 10px 0 10px 10%;
  padding: 5px 5px 10px 5px;
  background-color: var(--gray);
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--gray-dark);
}

input::placeholder {
  font-size: 20px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
}

button#submit {
  width: 80%;
  height: 45px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bolder;
  margin: 10px 0 20px 10%;
  color: var(--naval-blue);
  background-color: var(--aqua);
  font-family: "Roboto", sans-serif;
  border: 2px solid var(--gray-dark);
}

span#shevron {
  font-family: 'furore', Tahoma, Geneva, Verdana, sans-serif;
}

section#table-section {
  width: 80%;
  margin: 0 auto;
  padding: 0px 0px;
  color: var(--dark);
  border-radius: 10px; 
  background-color: var(--light);
  border: 2px solid var(--naval-blue);
}

table#main {
  margin: 0 auto;
  color: var(--dark);
  border-collapse: collapse;
  font-family: "Roboto", sans-serif;
}

table#sub-tbl {
  padding: 20px 20px;
  border-radius: 5px;
  color: var(--dark);
  margin: 0 20px 20px 20px;
  width: calc(100% - 40px);
  border-collapse: separate;
  background-color: var(--gray);
  font-family: "Roboto", sans-serif;
  border: 1px solid var(--naval-blue);
}

table#sub-tbl tr th#title {
  font-size: 20px;
  text-align: center;
}

table#sub-tbl tr td, 
table#sub-tbl tr th#title {
  height: 40px;
  border: 0px solid var(--naval-blue);
}

table#sub-tbl tr td:first-child, 
table#sub-tbl tr td:nth-child(3) {
  width: 15%;
  font-size: 12px;
  font-weight: bold;
}

table#sub-tbl tr td:nth-child(2), 
table#sub-tbl tr td:nth-child(4) {
  font-size: 12px;
  width: calc(50% - 15%);
}

table#sub-tbl tr td#os-box {
  font-size: 16px;
  padding-left: 10px;
  border-radius: 5px;
  font-weight: normal;
  background-color: var(--light);
  border: 1px solid var(--naval-blue);
}

table#sub-tbl tr td#label, 
table#sub-tbl td#slabel {
  font-size: 14px;
  text-align: left;
  padding-right: 10px;
  font-weight: normal;
  color: var(--naval-blue);
}

table#sub-tbl td#slabel {
  padding-right: 0;
  padding-left: 10px;
}

table#sub-tbl tr td#devider {
  height: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--custom-gray);
}

table#sub-tbl tr td#space {
  height: 10px;
}

span#vline {
  margin-left: 5px;
  position: relative;
  padding: 0 5px 0 5px;
  border-left: 1px solid var(--aqua);
}

table#table-title {
  margin-left: 80px;
}

table#table-title tr th {
  font-size: 24px;
  text-align: left;
  font-weight: bold;
  padding: 20px 20px;
  border: 0px solid var(--light-web-blue);
}

table#table-title tr th:first-child, 
table#table-title tr th:nth-child(3) {
  width: 40px;
}

table#table-title tr th:nth-child(2), 
table#table-title tr th:nth-child(4) {
  width: 50%; 
  padding-left: 5px;
}

table#main tr td {
  font-size: 14px;
  font-weight: bold;
  /*border: 0px solid var(--naval-blue);*/
}

table#sub-tbl tr td#desc {
  font-size: 16px;
  color: var(--dark);
  text-align: justify;
  font-weight: normal;
  padding-right: 80px;
}

table#sub-tbl tr td#desc, 
table#sub-tbl tr td#desc-img {
  padding-bottom: 0px;
} 

table#sub-tbl tr td img {
  padding: 0 0 0 30px;
}

table#sub-tbl tr td a {
  font-weight: bold;
}

table#sub-tbl tr td a:hover {
  color: var(--success);
}

button#Link,
a#Link,
Link.topBtn
 {
  width: auto;
  margin-right: 10px;
}

.topBtn {
  width: auto;
  float: right;
  height: auto;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  font-weight: bold;
  color: var(--aqua);
  border-radius: 10px;
  text-decoration: none;
  background-color: var(--dark);
  border: 2px solid var(--aqua);
  font-family: "Roboto", sans-serif;
}

button#download {
  height: 40px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  color: var(--aqua);
  font-family: "Roboto", sans-serif;
  background-color: var(--naval-blue);
  border: 1px solid var(--naval-blue);
}

button#download:hover {
  border: 1px solid var(--aqua);
}

button#submit:hover, button#clear:hover {
  color: var(--naval-blue);
  border: 3px solid var(--naval-blue);
}

div#headerBtnDiv {
  display: flex;
  flex-direction: row;
  float: right;
}

div#error-message {
  font-size: 18px;
  font-style: normal; 
  color: var(--error);
  font-weight: bolder;
  margin: 0 0 10px 10%;
  font-family: "Roboto", sans-serif;
}

footer#bottom {
  width: 100%;
  height: auto;
  margin-top: 20px;
  line-height: 1.2;
  text-align: center;
  background-color: none;
  border: 0px solid orange;
  font-family: "Roboto", sans-serif;
  border-top: 1px solid var(--dark);
}

footer#bottom p span {
  color: var(--electron-blue);
}

footer#bottom p {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  color: var(--naval-blue);
}

footer#bottom p:first-child {
  font-size: 50px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 2500px) {
  div#header section#header-main p {
    font-size: 50px;
    text-align: left;
  }
}

@media only screen and (max-width: 1550px) {
  body {
    width: 85%;
  }
  div#header section#header-main p {
    font-size: 30px;
    text-align: left;
  }

  div#header section#header-main {
    /* Background image property*/
    background-size: 100px;
  }

  div#headerBtnDiv {
    float: right;
    display: flexbox;
    flex-direction: column;
  }

  div#headerBtnDiv a {
    margin-top: 10px;
  }

  span#greeting {
    font-size: large;
  }

  footer#bottom p:first-child {
    font-size: 40px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    width: 90%;
  }
  div#header section#header-main p {
    font-size: 30px;
    text-align: left;
  }

  div#header section#header-main {
    /* Background image property*/
    background-size: 100px;
  }

  div#headerBtnDiv {
    float: right;
    display: flexbox;
    flex-direction: column;
  }

  div#headerBtnDiv a {
    margin-top: 10px;
  }

  span#greeting {
    font-size: large;
  }

  footer#bottom p:first-child {
    font-size: 30px;
  }
}

@media only screen and (max-width: 650px) {
  body {
    width: 95%;
  }
  div#header section#header-main p {
    font-size: 30px;
    text-align: left;
  }

  div#header section#header-main {
    /* Background image property*/
    background-size: 100px;
  }

  div#headerBtnDiv {
    float: right;
    display: flexbox;
    flex-direction: column;
  }

  div#headerBtnDiv a {
    margin-top: 10px;
  }

  span#greeting {
    font-size: large;
  }

  footer#bottom p:first-child {
    font-size: 20px;
  }
}